<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
   <div class="container">
      <a class="navbar-brand" href="#">{{ title }}</a> <button class="navbar-toggler" type="button"
         data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
         aria-label="Toggle navigation">
         <span class="navbar-toggler-icon">
         </span>
      </button>

   </div>
</nav>
<div class="cotainer">
   <div class="row mt-5">
      <div class="col-sm-12 col-md-8" style="margin: 0 auto;">
         <app-user-form></app-user-form>
      </div>
   </div>
   <div class="row mt-5">
      <div class="col-sm-12 col-md-8" style="margin: 0 auto;">
         <app-data-table></app-data-table>
      </div>
   </div>
   
</div>